<script>
  let current = "";

</script>

<style>
  .back{
    background-color: aqua;
  }
</style>

<!-- We will cover buttons in week 7! -->

<button class:back="{current=='messi'}" on:click={() => (current = "messi")}>
  Messi
</button>

<button class:back="{current=='ronaldo'}" on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class:back="{current=='neymar'}" on:click={() => (current = "neymar")}>
  Neymar
</button>
