<script>
   const name = 'Kinga Nowak';
    myList = ["coffee","chocolate","books","walks","video games"];
    const student = {name, myList}
</script>
<p>My name is {student.name} and these are some of my favourite things: {student.myList} </p>
