<script>
 function circle(r){
     circ =  (2*r*Math.PI).toFixed(2);
     return circ;
 }
 const r = 4;
 const c = circle(r);
</script>

<p>The circumference of a circle with radius {r}m is {c}m .</p>