<script>
    let count = 0;

	function handleClick() {
		count += 1;
	}

    function resetClick(){
        count = 0;
    }
</script>

<form>
<input class="btn btn-primary" on:click={handleClick} type="button" value="Clicked {count} times">
<input class="btn btn-primary" on:click={resetClick} style="background-color:Crimson" type="reset" value="Reset">
</form>