<script>
  import { onMount } from 'svelte';
  import { scaleLinear, scaleOrdinal } from 'd3-scale';
  import { select } from 'd3-selection';
  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  const x_scale = scaleLinear()
	.range([0, innerWidth])
	.domain([142, 150000])

  const y_scale = scaleLinear()
	.range([innerHeight, 0])
	.domain([0, 90])
</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">

  <g transform="translate({margin.left}, {margin.top})">
  </g>
</svg>

