<script>
  // Dimensions
  import { scaleLinear, scaleLog } from 'd3-scale';
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];
  const myScale = scaleLog()
  .domain([1, 10])
  .range([0,790]);
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <!--  -->
    {#each values as v}
    <circle cx={myScale(v)} cy={(height-10)/2} r=10 fill="steelblue"/>
    <!-- <circle cx=50 cy=50 r=10/> -->
    {/each}
  </g>
</svg>