<script>
  import { onMount } from 'svelte';
  import { scaleLinear,scaleLog } from 'd3-scale';
  import { axisBottom } from 'd3-axis';
  import { select } from 'd3-selection';

// Dimensions

const width = 800;
const height = 100;
const margin = { top: 5, right: 5, bottom: 25, left: 5 };
const innerWidth = width - margin.left - margin.right;
const innerHeight = height - margin.top - margin.bottom;

// Array
const values = [2, 4, 6, 7, 9];
//Scale
const myScale = scaleLog()
.domain([1, 10])
.range([0,790]);
// Axis
const x_ax = axisBottom(myScale)
let el;
onMount(()=>{ 
  select(el)
  .append("g")
  .attr("transform",'translate(0,70)')
  .call(x_ax)

  select(el)
  .append("text")
  .style("font","8px verdana")
  .attr("transform",'translate(390,95)')
  .text("X label")
})

</script>

<svg  viewBox="0 0 {width} {height}">
<g bind:this={el} transform="translate({margin.left},{margin.top})">
  <!--  -->
  {#each values as v}
  <circle cx={myScale(v)} cy={(height-30)/2} r=10 fill="steelblue"/>
  <!-- <circle cx=50 cy=50 r=10/> -->
  {/each}
</g>
</svg>
