
<script>
  import { onMount } from 'svelte';
  import { scaleLinear, scaleOrdinal } from 'd3-scale';
  import { axisBottom } from 'd3-axis';
  import { select } from 'd3-selection';
  import {schemeCategory10} from 'd3-scale-chromatic';
// Dimensions
const width = 800;
const height = 100;
const margin = { top: 20, right: 5, bottom: 5, left: 5 };
const innerWidth = width - margin.left - margin.right;
const innerHeight = height - margin.top - margin.bottom;

// Array
const values = [
  { x: 2, y: 1, category: "cat1" },
  { x: 4, y: 2, category: "cat3" },
  { x: 6, y: 1, category: "cat2" },
  { x: 7, y: 3, category: "cat3" },
  { x: 9, y: 1, category: "cat2" }
];

//Scales
const scale_x = scaleLinear()
.domain([0, 10])
.range([0,innerWidth]);

const scale_y = scaleLinear()
.domain([3, 0])
.range([0,innerHeight]);

const color = scaleOrdinal()
.domain([1,3])
.range(schemeCategory10)

let el;
onMount(()=>{ 
  select(el)
  .append("text")
  .attr("transform",'translate(0,260)')
  .call(x_ax)
})
</script>



<svg viewBox="0 0 {width} {height}">
<g bind:this={el} transform="translate({margin.left},{margin.top})">
  <line x1="0" y1="{innerHeight}" x2="{innerWidth}" y2="{innerHeight}" stroke="black" />
  {#each values as v}
  <text
  text-anchor="end"
  x={scale_x(v.x)}
  y={scale_y(v.y)-10}		
>
  {v.y}
  </text>
  <circle cx={scale_x(v.x)} cy={scale_y(v.y)} r=5 fill={color(v.category)}/>
  <line x1="{scale_x(v.x)}" y1="{innerHeight}" x2="{scale_x(v.x)}" y2="{scale_y(v.y)+5}" stroke="black" />
  {/each}
</g>
</svg>

<style>
text {
  text-anchor: middle;
  font-size: small;
}
</style>

