<script>
  import { onMount } from 'svelte';
  import { scaleLinear, scaleOrdinal, scaleBand } from 'd3-scale';
  import { axisBottom ,axisLeft} from 'd3-axis';
  import { select } from 'd3-selection';
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  //Scales
  const xDomain = data.map(d => d.service) 
  const xScale = scaleBand()
		.domain(xDomain)
		.range([0, innerWidth])
	  .padding(0.1);

  const yScale = scaleLinear()
		.domain([0, 3])
		.range([innerHeight, 0]); 
  
   // Axis
  const x_ax = axisBottom(xScale);
  const y_ax = axisLeft(yScale);
  let el;
  onMount(()=>{ 
    select(el)
		.append("g")
		.attr("transform",'translate(0,260)')
    .call(x_ax)

    select(el)
		.append("g")
		.attr("transform",'translate(0,0)')
    .call(y_ax)

    select(el)
		.append("text")
    .style("font","10px verdana")
    .attr("transform","rotate(-90)")
    .attr("y",-30)
    .attr("x",0-(height/2))
		.text("Viewers(Milion)")
  })
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g bind:this={el} transform={`translate(${margin.left},${margin.top})`}>
    {#each data as d}
    <rect
    x="{xScale(d.service)}"
    y="{yScale(d.viewers)}" 
    width="70" 
    height="{innerHeight-yScale(d.viewers)}"
    fill="steelblue"
  /> 

    {/each}
  </g>
</svg>
